<label for="customer_first-1" class="form-label">{{ labelText }}</label>
<input
  id="customer_first-1"
  [type]="inputType"
  class="form-control"
  placeholder=""
  [formControl]="formControl"
  [class.is-invalid]="
    (showValidationErrorsInstant || formControl.touched) && formControl.invalid
  "
  [class.is-valid]="showValidationErrorsInstant && formControl.valid"
/>

<!-- <div
  *ngIf="showValidationErrorsInstant && formControl.valid"
  class="valid-feedback"
>
  Right
</div> -->

<div
  *ngIf="formControl.touched && formControl.invalid"
  [class.invalid-feedback]="formControl.invalid"
>
  {{ formControl.errors | json }}
</div>
