<h1 class="mb-4">Kunden</h1>

<div class="row">
  <h6 class="col-2">Familienname</h6>
  <h6 class="col-2">Vorname</h6>
  <h6 class="col">Telefon</h6>
  <div class="col"></div>
</div>
<div *ngFor="let customer of customers$ | async" class="row mb-1">
  <div class="col-2">{{ customer.lastname }}</div>
  <div class="col-2">{{ customer.firstname }}</div>
  <div class="col">{{ customer.phone }}</div>

  <div class="col me-2 d-flex justify-content-end">
    <div
      class="btn-toolbar"
      role="toolbar"
      aria-label="Toolbar with button groups"
    >
      <div class="btn-group me-2" role="group" aria-label="First group">
        <div class="btn btn-outline-primary" (click)="edit(customer)">
          <fa-icon [icon]="faPencil"></fa-icon>
        </div>
        <div class="btn btn-outline-primary" (click)="delete(customer)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
