/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: var(--bs-form-invalid-border-color);
}

$theme-colors: (
  // primary: $gray-600,
  // primary: $teal;
  // primary: $green
  primary: $green
);

@import "../node_modules/bootstrap/scss/bootstrap";

/* https://colors.muz.li/palette/486255/624f48/453732/494d62/333645 */
$primary: #486255;
$secondary: #624f48;
$light-green: #1abc9c;

$primary-light: #98b3a6;

$text-color-green: #5d7568;
$text-color-white: #d5deda;

$grid-column-gap: 0;
$grid-row-gap: 0;

:root {
  --primary-bg-color: #{$primary};
  --text-color-dark: #{$text-color-green};
  --primary-bg-light: #{$primary-light};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-family-base;
  font-weight: 300;
  line-height: 1.6;

  // font-size: 1rem;
  // font-size: 200%;
}

.grid-container {
  display: grid;
  column-gap: $grid-column-gap;
  row-gap: $grid-row-gap;
  grid-template-rows: 10rem minmax(20rem, calc(100vh - 20rem)) 10rem;
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
}

.sidebar {
  background-color: $secondary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  color: $text-color-white;
}

.header {
  background-color: $primary;
  // grid-column: full-start / full-end;
  color: $text-color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__toolbar {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1rem;
}

.content {
  grid-column: full-start / full-end;
  grid-row: 1 / -1;
  overflow-y: auto;
}

.footer {
  background-color: $primary;
  grid-column: full-start / full-end;
  color: $text-color-white;
}
