<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="order_number">#</th>
      <th scope="col" class="order_customer">Kunde</th>
      <th scope="col" class="order_sum">Betrag</th>
      <th scope="col" class="order_date">Kaufdatum</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let order of orders$ | async">
      <tr (click)="order.toggled = !order.toggled" class="cursor-pointer">
        <th scope="col">{{ order.id }}</th>
        <td>{{ order.customer?.firstname }} {{ order.customer?.lastname }}</td>
        <td>
          <ng-container *ngIf="!order.toggled; else show_detail">
            <td>{{ order.sum | currency }}</td>
          </ng-container>
          <ng-template #show_detail>
            <ng-container
              *ngTemplateOutlet="order_details; context: order"
            ></ng-container>
          </ng-template>
        </td>
        <td>{{ order.purchased | date }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

<ng-template #order_details let-details="details" let-sum="sum">
  <table>
    <tr *ngFor="let detail of details">
      <td class="pe-4">{{ detail.name }}</td>
      <td class="text-end">{{ detail.price | currency }}</td>
    </tr>
    <tr>
      <th>Summe:</th>
      <th>{{ sum | currency }}</th>
    </tr>
  </table>
</ng-template>
